:root {
    --ida-blue: #025a99;
    --ida-blue-darker: #003d69;
    --ida-red: #ea2024;
}

a {
    text-decoration: none !important;
    color: var(--ida-blue) !important;
}

a:hover {
    color: var(--ida-blue-darker) !important;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#information,
#hero,
#descriptions,
header {
    animation: fadeIn 1s ease-in;
}

#about {}

/* Main Stylings */

#top-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 40px;

    svg:hover {
        fill: var(--ida-red);
    }
}

header {
    padding: 20px;
}

nav {
    ul {
        margin: 0;
    }

    li {
        margin: 0 10px;
        list-style-type: none;
    }

    a {
        color: var(--ida-blue) !important;
    }

    a:hover {
        color: var(--ida-blue-darker) !important;
        font-weight: bold;
    }
}

#hero {
    background-image: url('./images/pharmacy_2_edited.jpg');
    background-position: 70%;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: end;

    .contact-button {
        color: white;
        background-color: var(--ida-blue);
        width: 120px;
        padding: 10px;
        border: 1px solid var(--ida-blue);
        border-radius: 10px;
        text-align: center;
    }

    .contact-button:hover {
        background-color: var(--ida-blue-darker);
    }

    .hero-description {
        background-color: rgba(255, 255, 255, 0.817);
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
}

#offerings {
    background-image: url('./images/pharmacy_1.jpg');
    background-position: center;
    height: 700px;
    width: 100%;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .each-offering {
        background-color: rgba(255, 255, 255, 0.812);
        color: darkblue;
        width: 25%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;

        h3 {
            margin-bottom: 25px;
        }
    }
}

#descriptions {
    h3 {
        margin: 10px 0;
    }

    .each-description {
        width: 25%;
    }

    .description-text {
        height: 250px;
    }
}



.each-service {
    text-align: center;
    width: 150px;

    p {
        margin: 10px 0;
        height: 20%;
    }
}

#about,
#commitment {
    background-color: rgb(245, 245, 245);
}

footer p,
#information p {
    margin: 0;
}

iframe {
    width: 100%;
}

/* Mobile Styles */

@media screen and (max-width: 900px) {
    #top-button {
        padding: 20px;
    }

    footer {
        .footer-info {
            flex-direction: column;
        }

        .each-footer-info {
            width: 100% !important;
            display: flex;
            justify-content: flex-end !important;
            align-items: center !important;
        }

        .each-footer-info:first-child {
            margin-bottom: 10px;
        }

        .each-footer-info:nth-child(2) {
            flex-direction: column;
            align-items: flex-end !important;
        }
    }
}


@media screen and (max-width: 768px) {
    #offerings {
        display: none;
    }

    #about {
        flex-wrap: wrap;
        flex-direction: column !important;
        justify-content: center !important;
        text-align: center;

        div {
            width: 100% !important;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    #descriptions {
        .all-descriptions {
            flex-direction: column;
        }

        .each-description {
            width: 80%;
        }

        .description-text {
            height: auto;
        }
    }

    footer {
        flex-direction: column;
        text-align: center;

        .footer-info {
            margin-top: 10px;
        }

        .each-footer-info {
            justify-content: center !important;
        }

        .each-footer-info:nth-child(2) {
            flex-direction: column;
            align-items: center !important;
        }
    }
}

@media screen and (max-width: 480px) {
    #information {
        display: none !important;
    }

    #descriptions {
        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }
    }

    header {
        flex-direction: column !important;
        position: sticky !important;
        top: 0 !important;
        background: rgba(255, 255, 255, 0.817) !important;
        padding: 5px !important;

        ul {
            margin: 5px !important;
        }

        nav ul {
            padding: 0;
        }
    }

    #commitment div {
        width: 100% !important;
    }

    .hero-description {
        width: 100% !important;
        justify-content: center;
        padding: 30px;
    }
}