a {
    text-decoration: none;
    color: black;
}

nav {
    ul {
        margin: 0;
        height: 50px; 
    }
    li {
        margin: 0 10px;
        list-style-type: none;
    }
}

#hero {
    background-image: url('./images/pharmacy_2_edited.jpg');
    background-position: 70%;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: end;

    button {
        color: white;
        background-color: blue;
        width: 120px;
        padding: 10px;
        border: 1px solid blue;
        border-radius: 10px;
    }

    button:hover {
        background-color: darkblue;
    }
}

.hero-description {
    background-color: rgba(255, 255, 255, 0.817);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.description-icons {
    height: 100px;
    margin-bottom: 15px;
}

.description-text {
    height: 250px;
}

.each-service {
    text-align: center;
    width: 150px;

    p {
        margin: 10px 0;
        height: 20%;
    }
}

#about,
#commitment {
    background-color: rgb(245, 245, 245);
}

footer p,
#information p {
    margin: 0;
}
